project_env/
project/
__pycache__/
.streamlit/
.DS_Store
What to Do Ketika mendirikan perusahaan Startup sebagai Data Analytics Lead.docx
gcp-key.json
.env
app.py
duckdb/
logs/
*.duckdb
Global_Weather.csv
.vscode/
.~lock.prod_analysis.csv#
mlartifacts/

rag_csv_pdf.py
rag_generation.py
chart_tools.py
csv_tools.py
final_analysis_report.md
cleand_sample.csv
run_workflow.py
sample.csv
cleaned_sample.csv
mlflow.db

# rag_ingestion.py
# rag_pandas_agen.py
e_conomy_sea_2025_report.pdf
# GROWTH_IN_EUROPEAN_E_COMMERCE_ANALYZING_THE_SURGE_IN_ONLINE_SHOPPING_AND_CONSUMER_BEHAVIOUR1.pdf