streamlit
pandas>=2.0.0,<3.0.0
plotly
joblib
scikit-learn
plotly-resampler
db-dtypes
category-encoders
matplotlib==3.10.9
lightgbm
duckdb-engine
duckdb
google-cloud-bigquery
seaborn

# generative
langchain==0.3.27
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-community==0.3.30
langchain-groq==0.3.8
langchain-huggingface==0.3.1
# langchain-faiss==0.1.1
faiss-cpu==1.12.0
beautifulsoup4==4.14.0
transformers==4.46.0
datasets==3.0.2
tokenizers==0.20.1
accelerate==0.26.0
sentence-transformers==3.2.1
langchain-pinecone
langchain-text-splitters
pinecone

langchain-experimental
python-dotenv
tabulate