langchain
langchain-community
langchain-openai
duckdb
seaborn
scikit-learn

streamlit
pandas>=2.0.0,<3.0.0
plotly
joblib
plotly-resampler
db-dtypes
category-encoders
matplotlib==3.10.9
lightgbm
duckdb-engine
duckdb
google-cloud-bigquery
seaborn